_build
**.DS_Store
**/.ipynb_checkpoints
*.dat
*.xye
*.h5
*.nxs
__pycache__/
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_elastic_1_pulse
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_elastic_3_pulse
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_known_quasi_elastic_1_pulse
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_known_quasi_elastic_3_pulse
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_unknown_quasi_elastic_1_pulse
mcstas_data_QENS/__MACOSX/mcstas_data_QENS/._QENS_unknown_quasi_elastic_3_pulse
mcstas_data_QENS/QENS_elastic_1_pulse/QENS.instr
mcstas_data_QENS/QENS_elastic_3_pulse/QENS.instr
mcstas_data_QENS/QENS_known_quasi_elastic_1_pulse/QENS.instr
mcstas_data_QENS/QENS_known_quasi_elastic_3_pulse/QENS.instr
mcstas_data_QENS/QENS_unknown_quasi_elastic_1_pulse/QENS.instr
mcstas_data_SANS_part_1/__MACOSX/mcstas_data_SANS_part_1/._SANS_with_sample_1_pulse
mcstas_data_QENS/QENS_unknown_quasi_elastic_3_pulse/QENS.instr
mcstas_data_SANS_part_1/__MACOSX/mcstas_data_SANS_part_1/._SANS_without_sample_1_pulse
mcstas_data_SANS_part_1/SANS_with_sample_1_pulse/SANS.instr
mcstas_data_SANS_part_1/SANS_without_sample_1_pulse/SANS.instr
mcstas_data_SANS_part_2/SANS_with_sample_3_pulse/SANS.instr
mcstas_data_SANS_part_2/SANS_without_sample_3_pulse/SANS.instr
/3-mcstas/QENS_elastic_1_pulse
/3-mcstas/QENS_elastic_3_pulse
/3-mcstas/QENS_known_quasi_elastic_1_pulse
/3-mcstas/QENS_known_quasi_elastic_3_pulse
/3-mcstas/QENS_unknown_quasi_elastic_1_pulse
/3-mcstas/QENS_unknown_quasi_elastic_3_pulse
/3-mcstas/SANS_with_sample_1_pulse
/3-mcstas/SANS_with_sample_3_pulse
/3-mcstas/SANS_without_sample_1_pulse
/3-mcstas/SANS_without_sample_3_pulse
/4-reduction
/4-reduction
/4-reduction
