_build
**.DS_Store
**/.ipynb_checkpoints
*.dat
*.xye
*.csv
*.h5
*.nxs
*.tar.gz
__pycache__/
.idea
.venv

# VS Code
.vscode/

# Scicat Widget Development Configuration
SCICAT_WIDGET_DEBUGGING.yml
6-scicat/notebooks/myProposals/
