corner
dynesty
easyscience
emcee
graphviz
h5py
jupyter-book
jupyterquiz
ipympl
ipython<9
ipywidgets
matplotlib
McStasScript
mpltoolbox
numpy
pandas
pip-tools
plopp
ply
pooch
pytest
pythreejs
scipp
scippneutron
scippnexus
scipy
sphinxcontrib-mermaid
scitacean[sftp]
