jupyter-book
matplotlib
numpy
easysciencecore
scipy
sphinxcontrib-mermaid
emcee
tqdm
corner
dynesty
scipp==23.07.0
scippneutron==23.04.0
scippnexus==23.07.0
plopp==23.05.1
h5py
ipympl
ipython
ipywidgets
graphviz
scipy
pooch
pythreejs
