corner
dynesty
easysciencecore
emcee
graphviz
h5py
jupyter-book
jupyterquiz
ipympl
ipython
ipywidgets
matplotlib
McStasScript
mpltoolbox
numpy
pandas
plopp==23.08.1
ply
pooch
pytest
pythreejs
scipp==23.07.0
scippneutron==23.04.0
scippnexus==23.07.0
scipy
sphinxcontrib-mermaid
tqdm
