corner
dynesty
easyscience
emcee
graphviz
h5py
jupyter-book
jupyterquiz
ipympl
ipython
ipywidgets
matplotlib
McStasScript
mpltoolbox
numpy
pandas
plopp
ply
pooch
pytest
pythreejs
scipp
scippneutron
scippnexus
scipy
sphinxcontrib-mermaid
tqdm
